/* TODO (optional): Style the product card container */

/* TODO (optional): Add special styling for out-of-stock products */

/* TODO (optional): Style the add/remove button */

.card {
    border: 1px solid #a7feff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(110, 21, 21);
}

.outOfStock {
    background-color: rgb(57, 97, 164);
}

.button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: midnightblue;
    color: whitesmoke;
}

.buttonDisabled {
    background-color: maroon;
    cursor: not-allowed;
}